body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #222629;
    color: white;
    margin: 0;
}

hr {
    border-top: 1px solid white;
}


.title-home{
    margin-left: 60px;
}
.title-home span{
font-size:60px;
text-align:left;
max-width:600px;

font-weight: 600;
margin-bottom: 20px;
}
.title-home p{
    font-size:20px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-right: 60px;

}
.about{
    background-color: #44a0d2;
    padding: 90px 60px;
    text-align: center;
}
.about span{
    display: inline-block;
    font-size:30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
.about p{
    color:white;
    letter-spacing: 0.3px;
    line-height: 20px;
  
    
}
footer{
    padding:20px;
    text-align: center;
    background-color: #44a0d2;
    color:white;
    letter-spacing: 0.3px;
}
.title {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
   
}

.main{

}
.main span {
    font-size: 20px;
}
.main p {
    font-size: 16px;
    line-height: 2;
}

.info {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.info span {
    color: #44a0d2;
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2;
    margin-top: 100px;
}
.footer a{
    color: white;
    display: block;
}
.footer span {
    font-size: 20px;
}
/* navigation bar */
ul{
    list-style-type: none;
   margin-bottom: 30px;
   margin-top: 20px;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
  
}

.nav{
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    right:0;
    padding: 0 30px;
}
.nav img{
width: 40px;
margin-right: 20px;

}
li a,.dropbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 50px;
}

li a:hover, .dropdown:hover {
    background-color: #44a0d2
}

li.dropdown {
    display: inline-block;
    letter-spacing: 0.2px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:  #474b4f;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/* image slider */
.slider {
    text-align: center;
}
.slider img {
    width: 50%;
}
